<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image" [routerLink]="['/profile-details']">
        <img width="50" height="50" [src]="loggedUser.profile" class="img-rounded" alt="User Image">
      </div>
      <div class="pull-left info">
        <strong><a [routerLink]="['/profile-details']" >{{loggedUser.firstname}} {{loggedUser.lastname}}</a></strong>
        <p></p>
        <a><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>

      <li class="treeview">
        <a *ngIf="loggedUser.role=='user'" [routerLink]="['/profile']">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
          </span>
        </a>
        <a *ngIf="loggedUser.role=='admin'" [routerLink]="['/admin-profile']">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>
      </ul>
  </section>
</aside>
