<div>
  <fieldset>
    <form class="form-signin" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <h5 class="h5 mb-3 font-weight-normal">Reset Password </h5>

      <div class="form-group">
        <input type="email" class="form-control" formControlName="email"  placeholder="Enter email id" autofocus>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="help-block">
          <div *ngIf="email.errors.required">
          Email required*
          </div>
          <div *ngIf="email.errors.pattern">
          Invalid email id
          </div>
      </div>
      </div>
      
      <button [disabled] = "!forgotForm.valid" class="btn btn-primary lsbtn" type="submit">Ok</button>
    </form> 
  </fieldset>
</div>
